{{=<% %>=}}<template>
  <div>
    <h1>Edit <%Name%></h1>

    <<%Name%>Form :<%name%>-id="this.$route.params.<%name%>Id" @save="handleFormSave()" />

    <nuxt-link :to="'/<%names%>'">
      List of <%Names%>
    </nuxt-link>
    <nuxt-link :to="'/<%names%>/' + this.$route.params.<%name%>Id">
      Show
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import <%Name%>Form from '@/components/<%Name%>Form/<%Name%>Form.vue'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({ components: { <%Name%>Form } })
export default class extends Vue {
  async handleFormSave () {
    await this.$router.push({ path: '/<%names%>' })
  }
}
</script><%={{ }}=%>
