{{=<% %>=}}<template>
  <div>
    <h1>Show <%Name%></h1>

    <<%Name%>Details :<%name%>-id="this.$route.params.<%name%>Id" />

    <nuxt-link :to="'/<%names%>'">
      List of <%Names%>
    </nuxt-link>
    <nuxt-link :to="'/<%names%>/' + this.$route.params.<%name%>Id + '/edit'">
      Edit
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import <%Name%>Details from '@/components/<%Name%>Details/<%Name%>Details.vue'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({ components: { <%Name%>Details } })
export default class extends Vue {

}
</script><%={{ }}=%>
