{{=<% %>=}}<template>
  <div>
    <h1>Show <% Name %></h1>

    <<% Name %>Details :<% name %>Id="this.$route.params.productId" />

    <nuxt-link :to="'/<% names %>'">List of <% Names %></nuxt-link>
    <nuxt-link :to="'/<% names %>/' + this.$route.params.<% name %>Id + '/edit'">Edit</nuxt-link>
  </div>
</template>

<script lang="ts">
import <% Name %>Details from "@/components/<% names %>/<% Name %>Details.vue"
import Vue from "vue";
import Component from "nuxt-class-component";

@Component
export default class extends Vue {

}
</script><%={{ }}=%>
