{{=<% %>=}}<template>
  <div>
    <h1>Show <%Name%></h1>
    <<%Name%>Details :<%name%>-id="this.$route.params.<%name%>Id" />

    <nuxt-link :to="'/<%names_dash%>'">
      List of <%Names%>
    </nuxt-link>
    <button @click="handleEdit<%Name%>()">
      Edit <%Name%>
    </button>

    <h2 ref="edit-<%name%>-header" v-if="showEdit<%Name%> && edit<%Name%>Id">
        Edit <%Name%> {{ edit<%Name%>Id }}
    </h2>

    <<%Name%>Form
      :key="edit<%Name%>Id"
      v-if="showEdit<%Name%>"
      ref="<%name%>-form"
      :<%name%>-id="edit<%Name%>Id"
      @save="handleSave<%Name%>"
      @cancel="handleCancel<%Name%>"
    />
  </div>
</template>

<script lang="ts">
import <%Name%>Details from '@/components/<%name_dash%>-details'
import <%Name%>Form from '@/components/<%name_dash%>-form'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({
  components: { <%Name%>Details, <%Name%>Form }
})
export default class extends Vue {
  showEdit<%Name%> = false
  edit<%Name%>Id: number | null = null

  handleEdit<%Name%> () {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = parseInt(this.$route.params.<%name%>Id)
  }

  handleSave<%Name%> () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }

  handleCancel<%Name%> () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }
}
</script><%={{ }}=%>
