{{=<% %>=}}<template>
  <div>
    <h1>Show <%namePascalCase%></h1>

    <<%namePascalCase%>Details :<%nameKebabCase%>-id="this.$route.params.<%nameCamelCase%>Id" />

    <n-link to="/<%namePluralKebabCase%>">
      List of <%namePluralPascalCase%>
    </n-link>

    <button
      ref="edit<%namePascalCase%>Btn"
      @click="openForm"
    >
      Edit <%namePascalCase%>
    </button>

    <h2
      v-if="<%nameCamelCase%>FormVisible && selected<%namePascalCase%>Id"
      ref="edit<%namePascalCase%>Header"
    >
      Edit <%namePascalCase%> {{ selected<%namePascalCase%>Id }}
    </h2>

    <<%namePascalCase%>Form
      v-if="<%nameCamelCase%>FormVisible"
      ref="<%nameCamelCase%>Form"
      :key="selected<%namePascalCase%>Id"
      :<%nameCamelCase%>-id="selected<%namePascalCase%>Id"
      @save:<%nameCamelCase%>="closeForm"
      @close:<%nameCamelCase%>Form="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%namePascalCase%>Details from '@/components/<%nameKebabCase%>/<%namePascalCase%>Details.vue'
import <%namePascalCase%>Form from '@/components/<%nameKebabCase%>/<%namePascalCase%>Form.vue'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({
  components: { <%namePascalCase%>Details, <%namePascalCase%>Form }
})
export default class extends Vue {
  <%nameCamelCase%>FormVisible = false
  selected<%namePascalCase%>Id: number | null = null

  openForm () {
    this.<%nameCamelCase%>FormVisible = true
    this.selected<%namePascalCase%>Id = parseInt(this.$route.params.<%nameCamelCase%>Id)
  }

  closeForm () {
    this.<%nameCamelCase%>FormVisible = false
    this.selected<%namePascalCase%>Id = null
  }
}
</script><%={{ }}=%>
