{{=<% %>=}}<template>
  <div>
    <h1>Show <%Name%></h1>

    <<%Name%>Details :<%name%>-id="this.$route.params.<%name%>Id" />

    <nuxt-link :to="'/<%names_dash%>'">
      List of <%Names%>
    </nuxt-link>

    <button @click="openEditForm">
      Edit <%Name%>
    </button>

    <h2 ref="edit-<%name%>-header" v-if="showEdit<%Name%> && edit<%Name%>Id">
        Edit <%Name%> {{ edit<%Name%>Id }}
    </h2>

    <<%Name%>Form
      v-if="showEdit<%Name%>"
      ref="<%name%>-form"
      :key="edit<%Name%>Id"
      :<%name%>-id="edit<%Name%>Id"
      @save="closeForm"
      @cancel="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%Name%>Details from '@/components/<%name_dash%>/<%Name%>Details.vue'
import <%Name%>Form from '@/components/<%name_dash%>/<%Name%>Form.vue'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({
  components: { <%Name%>Details, <%Name%>Form }
})
export default class extends Vue {
  edit<%Name%>Id: number | null = null

  openEditForm () {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = parseInt(this.$route.params.<%name%>Id)
  }

  closeForm () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }
}
</script><%={{ }}=%>
