{{=<% %>=}}<template>
  <div>
    <h1<%#if usesBootstrapTheme%> class="mt-5 mb-3"<%/if%>>Show <%namePascalCase%></h1>

    <<%namePascalCase%>Details :<%nameKebabCase%>-id="this.$route.params.<%nameCamelCase%>Id" />

    <n-link to="/<%namePluralKebabCase%>">
      List of <%namePluralPascalCase%>
    </n-link>

    <<%#if usesBootstrapTheme%>b-button><%else%>button<%/if%>
      ref="edit<%namePascalCase%>Btn"
      @click="openForm"
    >
      Edit <%namePascalCase%>
    </<%#if usesBootstrapTheme%>b-button><%else%>button<%/if%>>

    <h2
      v-if="<%nameCamelCase%>FormVisible && selectedId"
      ref="edit<%namePascalCase%>Header"
    >
      Edit <%namePascalCase%> {{ selectedId }}
    </h2>

    <<%namePascalCase%>Form
      v-if="<%nameCamelCase%>FormVisible"
      ref="<%nameCamelCase%>Form"
      :key="selectedId"
      :id="selectedId"
      @save:<%nameCamelCase%>="closeForm"
      @close:<%nameCamelCase%>Form="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%namePascalCase%>Details from '@/components/<%nameKebabCase%>/<%namePascalCase%>Details.vue'
import <%namePascalCase%>Form from '@/components/<%nameKebabCase%>/<%namePascalCase%>Form.vue'
import Vue from 'vue'
import Component from 'nuxt-class-component'

@Component({
  components: { <%namePascalCase%>Details, <%namePascalCase%>Form }
})
export default class extends Vue {
  <%nameCamelCase%>FormVisible = false
  selectedId: number | null = null

  openForm () {
    this.<%nameCamelCase%>FormVisible = true
    this.selectedId = parseInt(this.$route.params.<%nameCamelCase%>Id)
  }

  closeForm () {
    this.<%nameCamelCase%>FormVisible = false
    this.selectedId = null
  }
}
</script><%={{ }}=%>
