{{=<% %>=}}<template>
  <div v-if="this.$apollo.loading">Loading...</div>
  <div v-else-if="this.<% name %>">
    <table>
      <tbody>
        <tr>
          <td>Id</td>
          <td>{{ this.<% name %>.id }}</td>
        </tr><%#each fields%>
        <tr>
          <td><% FieldName %></td>
          <td>{{ this.<% name %>.<% fieldName %> }}</td>
        </tr><%/each%>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import gql from "graphql-tag";
import { Vue } from "vue-property-decorator";
import { SmartQuery } from "vue-apollo-decorators";
import Component from "nuxt-class-component";

@Component({ props: { <% name %>Id: Number } })
export default class <% Name %>Details extends Vue {
  @SmartQuery({
    query: gql`
      query <% name %>ById($id: Int) {
        <% name %>: <% name %>ById(id: $id) {
          id<%#each fields%>
          <% fieldName %><%/each%>
        }
      }
    `,
    variables() {
      return {
        id: this.$props.<% name %>Id,
      };
    },
  })
  <% name %> = {};
}
</script><%={{ }}=%>
