{{=<% %>=}}<template>
  <div>
    <h1>List of <%Names%></h1>

    <<%Name%>Manager />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'
import <%Name%>Manager from '@/components/<%name_dash%>/<%Name%>Manager.vue'

@Component({
  components: { <%Name%>Manager }
})
export default class extends Vue { }
</script><%={{ }}=%>
