{{=<% %>=}}<template>
  <div>
    <h1>List of <%Names%></h1>
    <<%Name%>Editor />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'nuxt-class-component'
import <%Name%>Editor from '@/components/<%name_dash%>/<%Name%>Editor.vue'

@Component({
  components: { <%Name%>Editor }
})
export default class extends Vue {

}
</script><%={{ }}=%>
