{{=<% %>=}}<template>
  <div>
    <<%namePascalCase%>List
      ref="<%nameCamelCase%>List"
      @edit:<%nameCamelCase%>="openForm"
    />

    <button
      ref="openNewFormBtn"
      @click="openNewForm"
    >
      New <%namePascalCase%>
    </button>

    <h2
      v-if="<%nameCamelCase%>FormVisible && !selected<%namePascalCase%>Id"
      ref="new<%namePascalCase%>Header"
    >
      New <%namePascalCase%>
    </h2>

    <h2
      v-if="<%nameCamelCase%>FormVisible && selected<%namePascalCase%>Id"
      ref="edit<%namePascalCase%>Header"
    >
      Edit <%namePascalCase%> {{ selected<%namePascalCase%>Id }}
    </h2>

    <<%namePascalCase%>Form
      v-if="<%nameCamelCase%>FormVisible"
      ref="<%nameCamelCase%>Form"
      :key="selected<%namePascalCase%>Id"
      :<%nameKebabCase%>-id="selected<%namePascalCase%>Id"
      @save:<%nameCamelCase%>="closeForm"
      @close:<%nameCamelCase%>Form="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%namePascalCase%>List from '@/components/<%nameKebabCase%>/<%namePascalCase%>List.vue'
import <%namePascalCase%>Form from '@/components/<%nameKebabCase%>/<%namePascalCase%>Form.vue'
import Component from 'nuxt-class-component'
import Vue from 'vue'

@Component({
  components: { <%namePascalCase%>Form, <%namePascalCase%>List }
})
export default class <%namePascalCase%>Manager extends Vue {
  <%nameCamelCase%>FormVisible = false
  selected<%namePascalCase%>Id: number | null = null

  openForm (<%nameCamelCase%>Id: number) {
    this.<%nameCamelCase%>FormVisible = true
    this.selected<%namePascalCase%>Id = <%nameCamelCase%>Id
  }

  openNewForm () {
    this.<%nameCamelCase%>FormVisible = true
    this.selected<%namePascalCase%>Id = null
  }

  closeForm () {
    this.<%nameCamelCase%>FormVisible = false
    this.selected<%namePascalCase%>Id = null
  }
}
</script><%={{ }}=%>
