{{=<% %>=}}<template>
  <div>
    <<%Name%>List
      ref="<%name%>List"
      @edit:<%name%>="showForm"
    />

    <button @click="showNewForm">
      New <%Name%>
    </button>

    <h2
      v-if="<%name%>FormVisible && !selected<%Name%>Id"
      ref="new<%Name%>Header"
    >
      New <%Name%>
    </h2>

    <h2
      v-if="<%name%>FormVisible && selected<%Name%>Id"
      ref="edit<%Name%>Header"
    >
      Edit <%Name%> {{ selected<%Name%>Id }}
    </h2>

    <<%Name%>Form
      v-if="<%name%>FormVisible"
      ref="<%name%>Form"
      :key="selected<%Name%>Id"
      :<%name_dash%>-id="selected<%Name%>Id"
      @save:<%name_dash%>="hideForm"
      @close:<%name_dash%>="hideForm"
    />
  </div>
</template>

<script lang="ts">
import <%Name%>List from '@/components/<%name_dash%>/<%Name%>List.vue'
import <%Name%>Form from '@/components/<%name_dash%>/<%Name%>Form.vue'
import Component from 'nuxt-class-component'
import Vue from 'vue'

@Component({
  components: { <%Name%>Form, <%Name%>List }
})
export default class <%Name%>Manager extends Vue {
  <%name%>FormVisible = false
  selected<%Name%>Id = null

  showForm (<%name%>Id: number) {
    this.<%name%>FormVisible = true
    this.selected<%Name%>Id = <%name%>Id
  }

  showNewForm () {
    this.<%name%>FormVisible = true
    this.selected<%Name%>Id = null
  }

  hideForm () {
    this.<%name%>FormVisible = false
    this.selected<%Name%>Id = null
  }
}
</script><%={{ }}=%>
