{{=<% %>=}}<template>
  <div v-if="$apollo.loading">
    Loading...
  </div>
  <div v-else-if="error">
    Unable to load component. Error message: {{ error }}
  </div>
  <div v-else-if="<%nameCamelCase%>">
    <table>
      <tbody>
        <tr>
          <td>Id</td>
          <td>{{ <%nameCamelCase%>.id }}</td>
        </tr><%#each fields%>
        <tr>
          <td><%fieldNamePascalCase%></td>
          <td>{{ <%nameCamelCase%>.<%fieldNameCamelCase%> }}</td>
        </tr><%/each%>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import gql from 'graphql-tag'
import { Vue } from 'vue-property-decorator'
import Component from 'nuxt-class-component'

@Component({
  apollo: {
    <%nameCamelCase%>: {
      query: gql`
        query <%nameCamelCase%>($id: Int) {
          <%nameCamelCase%>: <%nameCamelCase%>(id: $id) {
            id<%#each fields%>
            <%fieldNameCamelCase%><%/each%>
          }
        }
      `,

      error (error) {
        this.error = error.message
      },

      variables () {
        return {
          id: this.$props.<%nameCamelCase%>Id
        }
      }
    }
  },

  props: { <%nameCamelCase%>Id: [Number, String] }
})
export default class <%namePascalCase%>Details extends Vue {
  <%nameCamelCase%> = null
  error = null
}
</script><%={{ }}=%>
