{{=<% %>=}}<template>
  <div v-if="$apollo.loading">
    Loading...
  </div>
  <div v-else-if="error">
    Unable to load component. Error message: {{ error }}
  </div>
  <div v-else-if="<%name%>">
    <table>
      <tbody>
        <tr>
          <td>Id</td>
          <td>{{ <%name%>.id }}</td>
        </tr><%#each fields%>
        <tr>
          <td><%FieldName%></td>
          <td>{{ <%name%>.<%fieldName%> }}</td>
        </tr><%/each%>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import gql from 'graphql-tag'
import { Vue } from 'vue-property-decorator'
import Component from 'nuxt-class-component'

@Component({
  apollo: {
    <%name%>: {
      query: gql`
        query <%name%>($id: Int) {
          <%name%>: <%name%>(id: $id) {
            id<%#each fields%>
            <%fieldName%><%/each%>
          }
        }
      `,

      error(error) {
        this.error = error.message
      },

      variables () {
        return {
          id: this.$props.<%name%>Id
        }
      }
    }
  },

  props: { <%name%>Id: [Number, String] }
})
export default class <%Name%>Details extends Vue {
  <%name%> = null
  error = null
}
</script><%={{ }}=%>
