{{=<% %>=}}<template>
  <div>
    <<%Name%>List @edit="openEditForm" ref="editor-<%name%>-list" />

    <button @click="openNewForm">
      New <%Name%>
    </button>

    <h2 v-if="showEdit<%Name%> && !edit<%Name%>Id" ref="editor-new-<%name%>-header">
      New <%Name%>
    </h2>

    <h2 v-if="showEdit<%Name%> && edit<%Name%>Id" ref="editor-edit-<%name%>-header">
      Edit <%Name%> {{ edit<%Name%>Id }}
    </h2>

    <<%Name%>Form
      v-if="showEdit<%Name%>"
      ref="editor-<%name%>-form"
      :key="edit<%Name%>Id"
      :<%name%>-id="edit<%Name%>Id"
      @save="closeForm"
      @cancel="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%Name%>List from '@/components/<%name_dash%>/<%Name%>List.vue'
import <%Name%>Form from '@/components/<%name_dash%>/<%Name%>Form.vue'
import Component from 'nuxt-class-component'
import Vue from 'vue'

@Component({
  components: { <%Name%>Form, <%Name%>List }
})
export default class <%Name%>Editor extends Vue {
  showEdit<%Name%> = false
  edit<%Name%>Id: number | null = null

  openEditForm (<%name%>Id: number) {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = <%name%>Id
  }

  openNewForm () {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = null
  }

  closeForm () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }
}
</script><%={{ }}=%>
