{{=<% %>=}}<template>
  <div>
    <<%Name%>List
      ref="<%name%>List"
      @edit:<%name%>="openForm"
    />

    <button
      ref="openNewFormBtn"
      @click="openNewForm"
    >
      New <%Name%>
    </button>

    <h2
      v-if="<%name%>FormVisible && !selected<%Name%>Id"
      ref="new<%Name%>Header"
    >
      New <%Name%>
    </h2>

    <h2
      v-if="<%name%>FormVisible && selected<%Name%>Id"
      ref="edit<%Name%>Header"
    >
      Edit <%Name%> {{ selected<%Name%>Id }}
    </h2>

    <<%Name%>Form
      v-if="<%name%>FormVisible"
      ref="<%name%>Form"
      :key="selected<%Name%>Id"
      :<%name_dash%>-id="selected<%Name%>Id"
      @save:<%name%>="closeForm"
      @close:<%name%>Form="closeForm"
    />
  </div>
</template>

<script lang="ts">
import <%Name%>List from '@/components/<%name_dash%>/<%Name%>List.vue'
import <%Name%>Form from '@/components/<%name_dash%>/<%Name%>Form.vue'
import Component from 'nuxt-class-component'
import Vue from 'vue'

@Component({
  components: { <%Name%>Form, <%Name%>List }
})
export default class <%Name%>Manager extends Vue {
  <%name%>FormVisible = false
  selected<%Name%>Id: number | null = null

  openForm (<%name%>Id: number) {
    this.<%name%>FormVisible = true
    this.selected<%Name%>Id = <%name%>Id
  }

  openNewForm () {
    this.<%name%>FormVisible = true
    this.selected<%Name%>Id = null
  }

  closeForm () {
    this.<%name%>FormVisible = false
    this.selected<%Name%>Id = null
  }
}
</script><%={{ }}=%>
