{{=<% %>=}}<template>
  <div>
    <<%Name%>List @edit="handleEdit<%Name%>" ref="editor-<%name%>-list" />

    <button @click="handleNew<%Name%>()">
      New <%Name%>
    </button>

    <h2 v-if="showEdit<%Name%> && !edit<%Name%>Id" ref="editor-new-<%name%>-header">
      New <%Name%>
    </h2>

    <h2 v-if="showEdit<%Name%> && edit<%Name%>Id" ref="editor-edit-<%name%>-header">
      Edit <%Name%> {{ edit<%Name%>Id }}
    </h2>

    <<%Name%>Form
      v-if="showEdit<%Name%>"
      :key="edit<%Name%>Id"
      ref="editor-<%name%>-form"
      :<%name%>-id="edit<%Name%>Id"
      @save="handleSave<%Name%>"
      @cancel="handleCancel<%Name%>"
    />
  </div>
</template>
<script lang="ts">
import <%Name%>List from '@/components/<%name_dash%>/<%Name%>List.vue'
import <%Name%>Form from '@/components/<%name_dash%>/<%Name%>Form.vue'
import Component from 'nuxt-class-component'
import Vue from 'vue'

@Component({
  components: { <%Name%>Form, <%Name%>List }
})
export default class <%Name%>Editor extends Vue {
  showEdit<%Name%> = false
  edit<%Name%>Id: number | null = null

  handleEdit<%Name%> (<%name%>Id: number) {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = <%name%>Id
  }

  handleNew<%Name%> () {
    this.showEdit<%Name%> = true
    this.edit<%Name%>Id = null
  }

  handleSave<%Name%> () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }

  handleCancel<%Name%> () {
    this.showEdit<%Name%> = false
    this.edit<%Name%>Id = null
  }
}
</script><%={{ }}=%>
