{{=<% %>=}}<template>
  <div v-if="$apollo.loading">
    Loading...
  </div>
  <table v-else>
    <thead>
      <tr>
        <th>Id</th><%#each fields%>
        <th><%FieldName%></th><%/each%>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="<%name%> in <%names%>"
        :key="<%name%>.id"
      >
        <td>{{ <%name%>.id }}</td><%#each fields%>
        <td>{{ <%name%>.<%fieldName%> }}</td><%/each%>
        <td>
          <n-link :to="'/<%names_dash%>/' + <%name%>.id">
            Show
          </n-link>
          <button
            ref="edit-<%name%>-btn"
            type="button"
            @click="edit<%Name%>(<%name%>.id)"
          >
            Edit <%Name%>
          </button>
          <button
            ref="delete-<%name%>-btn"
            type="button"
            @click="delete<%Name%>ById(<%name%>.id)"
          >
            Delete <%Name%>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'nuxt-class-component'
import gql from 'graphql-tag'

@Component({
  apollo: {
    <%names%>: {
      query: gql`
        query all<%Names%>($filter: <%Name%>Filter) {
          <%names%>: all<%Names%>(filter: $filter) {
            id<%#each fields%>
            <%fieldName%><%/each%>
          }
        }`,

      variables () {
        const id = this.$props.id<%#each fields%><%#if fieldRelationship%>
        const <%fieldName%> = this.$props.<%fieldName%><%/if%><%/each%>
        return { filter: { id<%#each fields%><%#if fieldRelationship%>, <%fieldName%><%/if%><%/each%> } }
      }
    }
  },

  props: {
    id: [Number, String]<%#each fields%><%#if fieldRelationship%>,
    <%fieldName%>: [Number, String]<%/if%><%/each%>
  }
})
export default class <%Name%>List extends Vue {
  <%names%> = null

  async delete<%Name%>ById (id: number) {
    const mutation = gql`
      mutation delete<%Name%>ById($id: ID!) {
        delete<%Name%>ById(id: $id)
      }
    `

    if (confirm('Are you sure?')) {
      await this.$apollo.mutate({
        mutation,
        variables: { id },
        update: async () => {
          await this.$apollo.getClient().resetStore()
        }
      })
    }
  }

  edit<%Name%>(id: number) {
    this.$emit('edit:<%name%>', id)
  }
}
</script><%={{ }}=%>
