{{=<% %>=}}<template>
  <div v-if="$apollo.loading">
    Loading...
  </div>
  <div v-else-if="error">
    Unable to load component. Error message: {{ error }}
  </div>
  <form
    v-else
    ref="<%name%>Form"
    @submit.prevent="save<%Name%>"
  >
    <input
      v-if="<%name%>.id"
      :id="$id('id')"
      v-model="<%name%>.id"
      type="hidden"
    >
<%#each fields%>
    <div>
      <label :for="$id('<%fieldNameCamelCase%>')"><%fieldNamePascalCase%></label><%#unless isFieldOfTypeText%>
      <input
        :id="$id('<%fieldNameCamelCase%>')"
        ref="<%fieldNameCamelCase%>Input"
        v-model="<%name%>.<%fieldNameCamelCase%>"
        type="<%fieldHtmlInputType%>"<%#unless isFieldNullable%><%#if isString%>
        required<%/if%><%/unless%>
      ><%else%>
      <textarea
        :id="$id('<%fieldNameCamelCase%>')"
        ref="<%fieldNameCamelCase%>Input"
        v-model="<%name%>.<%fieldNameCamelCase%>"<%#unless isFieldNullable%><%#if isString%>
        required<%/if%><%/unless%>
      ></textarea><%/unless%>
    </div><%/each%>
    <div>
      <button>Save <%Name%></button>
      <button
        ref="cancelBtn"
        type="button"
        @click="close"
      >
        Close <%Name%>
      </button>
    </div>
  </form>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator'
import Component from 'nuxt-class-component'
import gql from 'graphql-tag'

@Component({
  apollo: {
    <%name%>: {
      query: gql`
        query <%name%>($id: Int) {
          <%name%>: <%name%>(id: $id) {
            id<%#each fields%>
            <%fieldNameCamelCase%><%/each%>
          }
        }
      `,

      error (error) {
        this.error = error.message
      },

      variables () {
        return {
          id: this.$props.<%name%>Id
        }
      },

      skip () {
        return !this.$props.<%name%>Id
      },

      result ({ data }) {
        this.<%name%> = Object.assign({}, data.<%name%>)
      }
    }
  },

  props: { <%name%>Id: [Number, String] }
})
export default class <%Name%>Form extends Vue {
  <%name%> = {
    id: null,<%#each fields%><%fieldNameCamelCase%>: <%#if isFieldNullable%>''<%else%>null<%/if%>,
  <%/each%>}
  error = null

  async save<%Name%> () {
    if (this.<%name%>.id) {
      await this.update<%Name%>()
    } else {
      await this.create<%Name%>()
    }
  }

  private async updateCompany() {
    const mutation = gql`
      mutation save<%Name%>($id: ID!, $input: Update<%Name%>Input!) {
        update<%Name%>(id: $id, input: $input) {
          id<%#each fields%>
          <%fieldNameCamelCase%><%/each%>
        }
      }
    `

    const <%name%>Input: any = Object.assign({}, this.<%name%>)
    delete <%name%>Input.__typename

    const { id, ...input } = <%name%>Input

    await this.$apollo.mutate({
      mutation,
      variables: { id, input },
      update: () => {
        this.$apollo.getClient().resetStore()
      }
    })

    this.$emit('save:<%name%>', this.<%name%>)
  }

  private async createCompany() {
    const mutation = gql`
      mutation save<%Name%>($input: Create<%Name%>Input!) {
        create<%Name%>(input: $input) { id }
      }
    `

    const <%name%>Input: any = Object.assign({}, this.<%name%>)
    delete <%name%>Input.id
    delete <%name%>Input.__typename

    await this.$apollo.mutate({
      mutation,
      variables: { input: <%name%>Input },
      update: () => {
        this.$apollo.getClient().resetStore()
      }
    })

    this.$emit('save:<%name%>', this.<%name%>)
  }

  close () {
    this.$emit('close:<%name%>Form')
  }
}
</script><%={{ }}=%>
